<section>
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <a href="{{ url_for('create_bucket') }}" class="menu-toggle">
                        <i class="material-icons">layers</i>
                        <span> Create Bucket</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('view_buckets') }}" class="menu-toggle">
                        <i class="material-icons">layers</i>
                        <span> View Buckets</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</section>